main {
    width: 1000px;
    height: 600px;
    background-color: brown;
    padding: 40px;
}

section{
    width: 700px;
    height: 500px;
    background-color: rgb(38, 131, 232);
    padding: 30;
}

div {
    width: 150px;
    height: 150px;
    background-color: rgb(31, 222, 85);
    margin: 20px;
    float: right;
}